*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo-container{
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    width: 90vw;
    margin: 3rem auto 3rem auto;
    /* background-color: aquamarine; */
    padding: 1rem;
}
#textarea{
    max-width: 600px;
    width: 600px;
    height: 60px;
    resize: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.6rem;
    border: 1px solid black;

}
#textarea:focus{
    border: 2px solid #4447f8;
}
.input-div{
    display: flex;
    flex-direction: column;
}
.nonotes-txt h3{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 5px;
    color: rgb(32, 32, 32);
}
.addbtn{
    width: 80px;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    padding: 4px 6px;
    cursor: pointer;
    background-color: #2D31FA;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    transition:all 0.2s ease;
    
}
.savebtn{
    display: none;
    background-color: #1ef002;
    color: #fff;
    font-weight: 600;
    transition:all 0.2s ease;
}
.Editbtn{
    width: 80px;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    padding: 4px 6px;
    cursor: pointer;
    background-color: #2D31FA;;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;

}
hr{
    border-bottom: 0px;
    border-color: black;
    border-width: 1px;
}
h4{
    font-size: 1.2rem;
    margin-top: 0.6rem ;
    margin-bottom: 0.5rem;
}
.todo-add-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 1rem;
  
}
.todo-add-container p{
    /* text-align: justify; */
}
.todo{
    background-color: #fff;
    border: 1px solid black;
    padding: 1rem;
    
}
@media screen and (max-width:700px){
    #textarea{
        width: 100%;
    }
    .todo{
        background-color: #fff;
        border: 1px solid black;
        padding: 0.6rem;
        
    }
}